<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span >
      &copy; Collegrity 2023
    </span>
  </div>
</footer>

<!-- AOS initialization -->
<script>
  AOS.init({
  duration: 1200,
  })
</script>