<% layout('layout/boilerplate') %>

<div class="card p-5 my-3 mx-auto" style="max-width:600px;">
  <h1>Register as student</h1>

  <form action="/register" method="POST" class="validated-form" novalidate>
    <div class="mb-3">
      <label class="form-label" for="username">Username</label>
      <input class="form-control" type="username" id="user" name="username" required>
      <div class="valid-feedback">
          Looks good!
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="email">Email</label>
      <input class="form-control" type="email" id="email" name="email" required>
      <div class="valid-feedback">
          Looks good!
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="password">Password</label>
      <input class="form-control" type="password" id="password" name="password" required>
      <div class="valid-feedback">
          Looks good!
      </div>
    </div>
    <button class="btn btn-success">Submit</button>
  </form>
</div>